challenge-2/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_challenge_2_name": {
            "defaultValue": "challenge-2",
            "type": "String"
        },
        "connections_office365_externalid": {
            "defaultValue": "/subscriptions/1a0b1ce7-ec83-4d1c-bc21-b77a78def94a/resourceGroups/25daysofserverlessbl2/providers/Microsoft.Web/connections/office365",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_challenge_2_name')]",
            "location": "eastasia",
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "Email": {
                            "defaultValue": "tolucy@gmail.com",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "startTime": "2020-04-22T10:59:00",
                                "timeZone": "China Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Deliver_the_coffee_to_Mom_and_Dad": {
                            "runAfter": {
                                "Wait_35_mins_from_start_time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>deliver the coffee to Mom and Dad<br>\n<br>\n</p>",
                                    "Subject": "deliver the coffee to Mom and Dad",
                                    "To": "@parameters('Email')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Deliver_the_coffee_to_Sister_and_Brother": {
                            "runAfter": {
                                "Wait_45_mins_from_start_time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>&nbsp;deliver the coffee to Sister and Brother<br>\n</p>",
                                    "Subject": " deliver the coffee to Sister and Brother\n",
                                    "To": "@parameters('Email')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Every_10_minutes,_Light_Candles": {
                            "actions": {
                                "Light_the_Candles": {
                                    "runAfter": {
                                        "Wait_10_minutes": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p>Light the candles</p>",
                                            "Subject": "Light the candles ",
                                            "To": "@parameters('Email')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                },
                                "Wait_10_minutes": {
                                    "runAfter": {},
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 10,
                                            "unit": "Second"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_StartDateTime_variable": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@greaterOrEquals('', addHours(variables('startdatetime'), 1))",
                            "limit": {
                                "count": 3,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        },
                        "Initialize_StartDateTime_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "startdatetime",
                                        "type": "string",
                                        "value": "@{utcNow()}"
                                    }
                                ]
                            }
                        },
                        "Pour_2_cups": {
                            "runAfter": {
                                "Wait_25_mins_from_start_time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>Pour 2 cups</p>",
                                    "Subject": "Pour 2 cups ",
                                    "To": "@parameters('Email')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Start_the_coffee,_set_out_4_cups": {
                            "runAfter": {
                                "Initialize_StartDateTime_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>Start the coffee, set out 4 cups</p>",
                                    "Subject": "Start the coffee, set out 4 cups",
                                    "To": "@parameters('Email')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Wait_25_mins_from_start_time": {
                            "runAfter": {
                                "Start_the_coffee,_set_out_4_cups": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "until": {
                                    "timestamp": "@addMinutes(formatDateTime(variables('startdatetime')), 25)"
                                }
                            }
                        },
                        "Wait_35_mins_from_start_time": {
                            "runAfter": {
                                "Pour_2_cups": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "until": {
                                    "timestamp": "@addMinutes(formatDateTime(variables('startdatetime')), 35)"
                                }
                            }
                        },
                        "Wait_45_mins_from_start_time": {
                            "runAfter": {
                                "Deliver_the_coffee_to_Mom_and_Dad": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "until": {
                                    "timestamp": "@addMinutes(formatDateTime(variables('startdatetime')), 45)"
                                }
                            }
                        },
                        "Wait_49_minutes_from_start_time": {
                            "runAfter": {
                                "Deliver_the_coffee_to_Sister_and_Brother": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "until": {
                                    "timestamp": "@addMinutes(formatDateTime(variables('startdatetime')), 49)"
                                }
                            }
                        },
                        "_Return_to_kitchen,_take_a_break!": {
                            "runAfter": {
                                "Wait_49_minutes_from_start_time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>&nbsp;return to kitchen, take a break!</p>",
                                    "Subject": " return to kitchen, take a break!",
                                    "To": "@parameters('Email')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[parameters('connections_office365_externalid')]",
                                "connectionName": "office365",
                                "id": "/subscriptions/1a0b1ce7-ec83-4d1c-bc21-b77a78def94a/providers/Microsoft.Web/locations/eastasia/managedApis/office365"
                            }
                        }
                    }
                }
            }
        }
    ]
}